# Ignore virtual environments
venv/
env/
*.pyc
*.pyo
__pycache__/

# Ignore unnecessary files
*.log
*.sqlite3
*.db
*.DS_Store

# Ignore IDE-specific files
.idea/
.vscode/
*.swp
*.sublime-workspace
*.sublime-project

# Ignore Python egg and cache files
.eggs/
*.egg-info/
dist/
build/
*.bak

# Ignore Gradio session files
*.gradio/
